.block {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  background: lightgray;
  color: black;
  margin-bottom: 20px;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid black;

  button {
    background: red;
    border: black;
    border-radius: 8px;
    padding: 1rem 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}
