{{page-title "MyFancyApp"}}

{{outlet}}

{{! The following component displays Ember's default welcome message. }}
{{! <div class="p-4 bg-gray-100">
  <h1 class="text-2xl font-bold">Template Tag</h1>
  <MyComponent />
</div> }}

<div class="p-4 bg-gray-100">
  <h1 class="text-2xl font-bold">Co-located</h1>
  <StatefulComponent as |state|>
    <MyComponenta @externalState={{state}} />
  </StatefulComponent>

  <StatefulComponent as |state|>
    <MyComponenta @externalState={{state}} />
  </StatefulComponent>
</div>
{{! Feel free to remove this! }}
